| All possible variables
|
| === Legal Officer ===
| #{legalOfficer.address};
| #{legalOfficer.additionalDetails};
|
| #{legalOfficer.userIdentity.firstName};
| #{legalOfficer.userIdentity.lastName};
| #{legalOfficer.userIdentity.email};
| #{legalOfficer.userIdentity.phoneNumber};
|
| #{legalOfficer.postalAddress.company};
| #{legalOfficer.postalAddress.line1};
| #{legalOfficer.postalAddress.line2};
| #{legalOfficer.postalAddress.postalCode};
| #{legalOfficer.postalAddress.city};
| #{legalOfficer.postalAddress.country};
|
| === Account Recovery ===
| #{recovery.requesterAddress.address};
| #{recovery.addressToRecover};
| #{recovery.createdOn};
|
| #{recovery.decision.decisionOn};
| #{recovery.decision.rejectReason};
| #{recovery.decision.locId};
|
| === LOC ===
| #{loc.id};
| #{loc.requesterAddress.address};
| #{loc.requesterIdentityLoc};
| #{loc.ownerAddress};
| #{loc.description};
| #{loc.createdOn};
| #{loc.locType};
|
| #{loc.decision.decisionOn};
| #{loc.decision.rejectReason};
|
| === Wallet User ===
| #{walletUser.firstName};
| #{walletUser.lastName};
| #{walletUser.email};
| #{walletUser.phoneNumber};
|
| #{walletUserPostalAddress.line1};
| #{walletUserPostalAddress.line2};
| #{walletUserPostalAddress.postalCode};
| #{walletUserPostalAddress.city};
| #{walletUserPostalAddress.country};
|
| === Vault Transfer ===
| #{vaultTransfer.id};
| #{vaultTransfer.requesterAddress.address};
| #{vaultTransfer.createdOn};
| #{vaultTransfer.destination};
| #{vaultTransfer.amount};
| #{vaultTransfer.call};
| #{vaultTransfer.timepoint.blockNumber};
| #{vaultTransfer.timepoint.extrinsicIndex};
|
| #{vaultTransfer.decision.decisionOn};
| #{vaultTransfer.decision.rejectReason};
