| All possible variables
|
| === Legal Officer ===
| #{legalOfficer.address};
| #{legalOfficer.additionalDetails};
| #{legalOfficer.node};
|
| #{legalOfficer.userIdentity.firstName};
| #{legalOfficer.userIdentity.lastName};
| #{legalOfficer.userIdentity.email};
| #{legalOfficer.userIdentity.phoneNumber};
|
| #{legalOfficer.postalAddress.company};
| #{legalOfficer.postalAddress.line1};
| #{legalOfficer.postalAddress.line2};
| #{legalOfficer.postalAddress.postalCode};
| #{legalOfficer.postalAddress.city};
| #{legalOfficer.postalAddress.country};
|
| === Other Legal Officer ===
| #{otherLegalOfficer.address};
| #{otherLegalOfficer.additionalDetails};
| #{otherLegalOfficer.node};
|
| #{otherLegalOfficer.userIdentity.firstName};
| #{otherLegalOfficer.userIdentity.lastName};
| #{otherLegalOfficer.userIdentity.email};
| #{otherLegalOfficer.userIdentity.phoneNumber};
|
| #{otherLegalOfficer.postalAddress.company};
| #{otherLegalOfficer.postalAddress.line1};
| #{otherLegalOfficer.postalAddress.line2};
| #{otherLegalOfficer.postalAddress.postalCode};
| #{otherLegalOfficer.postalAddress.city};
| #{otherLegalOfficer.postalAddress.country};
|
| === Protection ===
| #{protection.requesterAddress};
| #{protection.otherLegalOfficerAddress};
| #{protection.addressToRecover};
| #{protection.createdOn};
| #{protection.isRecovery};
|
| #{protection.decision.decisionOn};
| #{protection.decision.rejectReason};
| #{protection.decision.locId};
|
| === LOC ===
| #{loc.id};
| #{loc.requesterAddress};
| #{loc.requesterIdentityLoc};
| #{loc.ownerAddress};
| #{loc.description};
| #{loc.createdOn};
| #{loc.locType};
|
| #{loc.decision.decisionOn};
| #{loc.decision.rejectReason};
|
| === Wallet User ===
| #{walletUser.firstName};
| #{walletUser.lastName};
| #{walletUser.email};
| #{walletUser.phoneNumber};
|
| #{walletUserPostalAddress.line1};
| #{walletUserPostalAddress.line2};
| #{walletUserPostalAddress.postalCode};
| #{walletUserPostalAddress.city};
| #{walletUserPostalAddress.country};
|
| === Vault Transfer ===
| #{vaultTransfer.id};
| #{vaultTransfer.requesterAddress};
| #{vaultTransfer.createdOn};
| #{vaultTransfer.destination};
| #{vaultTransfer.amount};
| #{vaultTransfer.call};
| #{vaultTransfer.timepoint.blockNumber};
| #{vaultTransfer.timepoint.extrinsicIndex};
|
| #{vaultTransfer.decision.decisionOn};
| #{vaultTransfer.decision.rejectReason};
