|
| Your logion Legal Officer details are:
| __________________________________________________________
|
| Name:
| *******
| #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName}
|
| Identification key:
| ********************
| #{legalOfficer.address}
|
| Email:
| *******
| #{legalOfficer.userIdentity.email}
|
| Telephone:
| ************
| #{legalOfficer.userIdentity.phoneNumber}
|
| Address:
| *********
| #{legalOfficer.postalAddress.line1}
| #{legalOfficer.postalAddress.line2}
| #{legalOfficer.postalAddress.postalCode} #{legalOfficer.postalAddress.city}
| #{legalOfficer.postalAddress.country}
|
| Additional information (if any):
| ********************************
| #{legalOfficer.additionalDetails}
|
| __________________________________________________________
|
