| logion notification - Legal Officer Case (LOC)
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because you are requesting to protect your #{loc.locType}.
| Please note, you can't answer this email. The logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| Your Legal Officer, #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName}, has accepted to protect your #{loc.locType}, and has created the related Legal Officer Case.
|
|To follow the execution of this operation as well as submitting transaction materials to your Legal Officer, please go the related section of your logion application.
|
| Your logion Legal Officer details are:
| __________________________________________________________
|
| Name:
| *******
| #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName}
|
| Identification key:
| ********************
| #{legalOfficer.address}
|
| Email:
| *******
| #{legalOfficer.userIdentity.email}
|
| Telephone:
| ************
| #{legalOfficer.userIdentity.phoneNumber}
|
| Address:
| *********
| #{legalOfficer.postalAddress.line1}
| #{legalOfficer.postalAddress.line2}
| #{legalOfficer.postalAddress.postalCode} #{legalOfficer.postalAddress.city}
| #{legalOfficer.postalAddress.country}
|
| Additional information:
| *************************
| #{legalOfficer.additionalDetails}
|
| __________________________________________________________
|
|
|
include /footer.pug
