| logion notification - Legal Office Case (LOC) request refusal
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because you are requesting to protect a transaction.
|
| Please note, you can't answer this email. the logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| Your Legal Officer, #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName}, has refused to protect your transaction for the following reason:
| #{loc.decision.rejectReason}
|
include /legal-officer-details.pug
|
|Pease contact your Legal Officer for more information.
|
include /footer.pug
