| logion notification - protection request
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because you are requesting the protection of a Legal Officer through the logion blockchain network.
| Please note, you can't answer this email. logion will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| One of your Legal Officers, #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName}, has refused to protect your Polkadot account set as follows: #{protection.requesterAddress}, for the following reason:
| #{protection.decision.rejectReason}
|
include /legal-officer-details.pug
|
|
| Please contact your Legal Officer if you want more details.
|
include /footer.pug
