| logion notification - protection request
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because you are requesting the protection of Legal Officers through the logion blockchain network.
| Please note, you can't answer this email. logion will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| One of your Legal Officers, #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName}, has accepted to protect your Polkadot account set as follows: #{protection.requesterAddress}.
|
include /legal-officer-details.pug
|
|
| Upon acceptance of both selected Legal Officers, you will be able to activate your protection directly from your wallet in the "My Logion Protection" section.
|
include /footer.pug
