| logion notification - Protection request approval
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because you are requesting the protection of Legal Officers through the logion blockchain network.
| Please note, you can't answer this email. The logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
|_______________________________________________________________________________
|
|THE CONTENT OF THIS EMAIL IS IMPORTANT
|***************************************
|
|YOU HAVE TO KEEP A COPY IN A SAFE PLACE AS IT CONTAINS MANDATORY INFORMATION 
|REQUESTED IN CASE OF A RECOVERY REQUEST:
|- LOGION OFFICER DETAILS 
|- AND PROTECTED ACCOUNT NUMBER
|
|________________________________________________________________________________
|
| One of your Legal Officers, #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName}, has accepted to protect your Polkadot account set as follows: 
|
|#{protection.requesterAddress}.
|
|As a reminder, the Legal Officer in charge of your protection is the following one:
|
include /legal-officer-details.pug
|
|
| Upon approval of both selected Legal Officers, you will be able to activate your protection from your wallet in the "My Logion Protection" section.
|
include /footer.pug
