| logion notification - Recovery request approval
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because you are requesting a recovery action from your Legal Officers through the logion blockchain network.
|
| Please note, you can't answer this email. The logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| One of your Legal Officers, #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName}, has accepted to let you recover all digital assets from your Polkadot account set as follows: #{protection.requesterAddress.address}.
|
| As a reminder, find below all details of the Legal Officer who accepted this request:
|
include /legal-officer-details.pug
|
| Upon acceptance of both selected Legal Officers, you will be able, from the "Recovery" section of your wallet, to:
| * activate the protection of your new account by the same Legal Officers
| * recover all digital assets from your previous account (#{protection.addressToRecover}) by transfering them to the new one
|
include /footer.pug
