| logion notification - Recovery request to be reviewed
| Dear #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName},
|
| Please note, you can't answer this email. The logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| The following user has requested your help to recover a lost account, please go to your logion application and start the review and approval process:
| __________________________________________________________
|
| Name:
| *******
| #{walletUser.firstName} #{walletUser.lastName}
|
| Identification key to recover:
| ***********************************
| #{protection.addressToRecover}
|
| New Identification key:
| **************************
| #{protection.requesterAddress}
|
| Email:
| *******
| #{walletUser.email}
|
| Telephone:
| ************
| #{walletUser.phoneNumber}
|
| Address:
| *********
| #{walletUserPostalAddress.line1}
| #{walletUserPostalAddress.line2}
| #{walletUserPostalAddress.postalCode} #{walletUserPostalAddress.city}
| #{walletUserPostalAddress.country}
| __________________________________________________________
|
include /footer.pug
