| logion notification - Secret recovery rejected
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because your request to recover the secret with name #{secret.secretName} linked to your Identity LOC #{loc.id} has been rejected
| by the legal officer in charge for the following reason:
| #{secret.decision.rejectReason}
|
| Please note, you can't answer this email. The logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
include /footer.pug
