| logion notification - Vault transfer request refusal
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because you are requesting the signature of a Legal Officer through the logion blockchain network.
|
| Please note, you can't answer this email. The logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| Your Legal Officers, #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName}, has refused to sign your vault transfer, for the following reason:
| #{vaultTransfer.decision.rejectReason}.
|
|Please contact your Legal Officer if you want more details:
|
include /legal-officer-details.pug
|
|
include /footer.pug
